h1 {
  color: rgba(159, 14, 14, 0.827);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  display: block;
  justify-self: center;
  align-items: center;
  background-color: antiquewhite;
  margin: 50px;
  text-align: center;
}
form {
  margin: 40px;
  display: block;
  align-items: center;
  font-size: larger;
}

input {
  color: rgb(84, 17, 146);
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
}
.button {
  background-color: thistle;
}
div {
  text-align: center;
  color: blueviolet;
  font-size: xx-large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
}
footer {
  margin-top: 100px;
  display: block;
  align-items: center;

  color: rgba(6, 6, 102, 0.841);
}
