h1 {
  color: rgba(159, 14, 14, 0.827);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
}
body {
  display: block;
  justify-self: center;
  align-items: center;
  background-color: antiquewhite;
  margin: 50px;
  text-align: center;
}
form {
  margin-top: 40px;
  margin-bottom: 0px;
  display: block;
  align-items: center;
  font-size: larger;
}

input {
  color: rgb(42, 41, 43);
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
}
.button {
  background-color: rgba(140, 178, 188, 0.758);
}
.help {
  font-style: italic;
  color: rgb(13, 0, 128);
}
div {
  text-align: center;
  color: blueviolet;
  font-size: xx-large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  margin: auto;
}
footer {
  margin-top: 100px;
  display: block;
  align-items: center;
  font-size: x-small;
  color: rgba(6, 6, 102, 0.841);
}
.hidden {
  display: none;
}
.poem {
  background-color: rgba(225, 215, 32, 0.222);
  display: block;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  color: rgb(14, 107, 140);
  border-radius: 10px;
  padding: 15px;
  word-spacing: 5px;
  line-height: 70px;
}
